@import "../libs/bootstrap/scss/bootstrap"

body
  overflow: hidden

  #main-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 100px 50px

    .form-comp-wrapper
      .form-heading
        margin-bottom: 50px !important

      .form-wrapper
        width: 400px


