@import "../libs/bootstrap/scss/bootstrap"
@import "../libs/open-iconic-master/font/css/open-iconic-bootstrap.scss"

body
  overflow: hidden

  #main-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 100px 50px

    .form-comp-wrapper
      .form-heading
        margin-bottom: 50px !important

      .form-wrapper
        width: 300px

    #table-comp-wrapper
      margin-left: 80px

      .table-heading
        margin-bottom: 50px

      .sort-heading
        font-size: 13px
        margin-bottom: 15px

      .table-wrapper
        width: 750px

        td, th
          font-size: 12px

        .table-arrow-icon
          font-size: 10px
          &:hover
            cursor: pointer
          &.right-icon
            margin-right: 5px


